* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.cart-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.cart-count {
  background-color: #f46d57;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 4px;
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 12px;
}

.menu-list-container {
  display: flex;
  gap: 70px;
  align-items: center;
  border-top: 2px solid #eae9e9;
  border-bottom: 2px solid #eae9e9;
  overflow-x: auto;
}

.list-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-list-item {
  padding: 20px;
  cursor: pointer;
}

.menu-list-item-active {
  border-bottom: 2px solid #f30303;
  color: #f30303;
  font-weight: bold;
}

.dish-item-container {
  display: grid;
  grid-template-columns: 3% auto 20% 10%;
  border: 1px solid #d1cfcf;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.dish-type-container {
  margin-top: 20px;
}

.dish-update-btn {
  background-color: #377c22;
  color: #ffffff;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.dish-price-container {
  font-weight: 500;
  color: #4a4a4a;
}

.dish-description {
  color: #979797;
}

.customizations-available {
  color: #8e7edf;
}

.dish-calories {
  color: #f0a716;
  font-weight: 500;
}

.dish-img-container {
  width: 120px;
  height: 120px;
  place-self: center;
}

.dish-calories {
  place-self: center;
}

.dish-img {
  width: 120px;
  height: 120px;
}

.not-available {
  color: #db0d0d;
}

@media screen and (max-width: 399px) {
  .dish-item-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid #d1cfcf;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (min-width: 400px) {
  .dish-item-container {
    display: grid;
    grid-template-columns: 8% auto 20% 30%;
    border: 1px solid #d1cfcf;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (min-width: 971px) {
  .dish-item-container {
    display: grid;
    grid-template-columns: 3% auto 20% 10%;
    border: 1px solid #d1cfcf;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
}
